.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;color:#595959;letter-spacing:0em;}
.Heading_1 {font-family:'Abel';font-weight:normal;font-style:normal;font-size:24px;text-decoration:none;color:#7F7F7F;letter-spacing:0.13em;}
.Heading_2 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:18px;text-decoration:none;color:#3D6BA9;letter-spacing:0em;}
.Panel_text {font-size:11px;}
.Light_Heading_1 {font-size:16px;color:#FFFFFF;}
